<html>
<head>
    <meta charset="UTF-8"/>
    <title>{$copyright} 网站后台管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="robots" content="noindex,nofollow">
    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link href="__ADMIN_TMPL__/public/assets/themes/{:cmf_get_admin_style()}/bootstrap.min.css" rel="stylesheet">
    <link href="__PLUGIN_TMPL__/assets/css/adminlogin.css" rel="stylesheet">
    <script>
        if (window.parent !== window.self) {
            document.write = '';
            window.parent.location.href = window.self.location.href;
            setTimeout(function () {
                document.body.innerHTML = '';
            }, 0);
        }
    </script>
</head>
<body>
<div class="logo">
    <!-- <if empty($logo)>
        <img src="__PLUGIN_TMPL__/assets/images/logo.png">
        <else/>
        <img src="{:cmf_get_image_url($logo)}">
    </if> -->
</div>
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="login-wrap">
                    <h1 class="text-center">网站后台管理系统</h1>
                    <form class="js-ajax-form" action="{:url('admin/Public/doLogin')}" method="post">
                        <div class="form-group">
                            <input type="text" id="input_username" class="form-control" name="username"
                                   placeholder="{:lang('USERNAME_OR_EMAIL')}" title="{:lang('USERNAME_OR_EMAIL')}"
                                   value="{:cookie('admin_username')}" data-rule-required="true" data-msg-required="">
                        </div>

                        <div class="form-group">
                            <input type="password" id="input_password" class="form-control" name="password"
                                   placeholder="{:lang('PASSWORD')}" title="{:lang('PASSWORD')}"
                                   data-rule-required="true"
                                   data-msg-required="">
                        </div>

                        <div class="form-group">
                            <div style="position: relative;">
                                <input type="text" name="captcha" placeholder="验证码" class="form-control captcha">
                                <captcha height="32" width="150" font-size="18"
                                         style="cursor: pointer;position:absolute;right:1px;top:1px;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="hidden" name="redirect" value="">
                            <button class="btn btn-primary btn-block js-ajax-submit" type="submit"
                                    style="margin-left: 0px"
                                    data-loadingmsg="{:lang('LOADING')}">
                                {:lang('LOGIN')}
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">&copy; <span id="year"></span>
    <a href="{$links}" target="_blank">{$copyright}</a>
</div>
<script type="text/javascript">
    //全局变量
    var GV = {
        ROOT: "__ROOT__/",
        WEB_ROOT: "__WEB_ROOT__/",
        JS_ROOT: "static/js/",
        APP: ''/*当前应用名*/
    };
</script>
<script src="__STATIC__/js/jquery.js"></script>
<script src="__STATIC__/js/wind.js"></script>
<script src="__STATIC__/js/admin.js"></script>
<script src="__PLUGIN_TMPL__/assets/js/jquery.backstretch.min.js"></script>
<script>
    (function () {
        document.getElementById('input_username').focus();
    })();
</script>
<script>
    var ObjA = "{$image1}";
    var ObjB = "{$image2}";
    var ObjC = "{$image3}";
    if(ObjA==null||ObjA==""){
        ObjA = "__PLUGIN_TMPL__/assets/images/bg1.jpg"
    }else {
        ObjA = "{:cmf_get_image_url($image1)}";
    }
    if(ObjB==null||ObjB==""){
        ObjB = "__PLUGIN_TMPL__/assets/images/bg2.jpg"
    }else {
        ObjB = "{:cmf_get_image_url($image2)}";
    }
    if(ObjC==null||ObjC==""){
        ObjC = "__PLUGIN_TMPL__/assets/images/bg3.jpg"
    }else {
        ObjC = "{:cmf_get_image_url($image3)}";
    }
    $.backstretch([
        ObjA, ObjB, ObjC
    ], {duration: 5000, fade: 750});
</script>
<script>
    var thisDate = new Date();
    var year = thisDate.getFullYear();
    $("#year").html(year);
</script>
</body>
</html>
